.icon-css{
    font-size: 10px;
    block-size: 140px;
    margin-top:5%
}
.qu{
    cursor: pointer;
    margin-left: 20%;
    position: relative;
}
.tg{
    margin-left: 20%;
}

.user-icon{
margin-top:1%;
}
